body {
    background: linear-gradient(to right, #71a17c, #dee99e, #dfa5ab); /* Linear gradient from left (red) to right (green) */
}

#headerBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 40px 6px #000000;
    opacity: 90%;
    color: rgb(0, 0, 0);

}

h2 {
    margin: 0;
    padding: 0;
    margin-top: 4vh;
    margin-left: 6vw;
    display: flex;
    opacity: 100%;
}

.container {
    display: flex;
}

/* dark mode magic */
@media (prefers-color-scheme: dark) {
  /* Invert all elements on the body while attempting to not alter the hue substantially. */
  body {
    filter: invert(100%) hue-rotate(180deg);
    background: linear-gradient(to right, #212c24, #2b2e1a, #221516); /* Linear gradient from left (red) to right (green) */
  }

  /* Workarounds and optical adjustments. */

  /* Firefox workaround: Set the background colour for the html
     element separately because, unlike other browsers, Firefox
     doesn’t apply the filter to the root element’s background. */
  html {

    }

    /* Do not invert media (revert the invert). */
    img, video, iframe, h2 {
        filter: invert(100%) hue-rotate(180deg);
    }
    /* Improve contrast on icons. */
    .icon {
        filter: invert(15%) hue-rotate(180deg);
    }

    /* Re-enable code block backgrounds. */
    pre {
        filter: invert(6%);
    }

    /* Improve contrast on list item markers. */
    li::marker {
        color: #666;
    }
}
/* end of dark mode magic */

img {
        max-width: 60%; /* Adjust based on your preference */
        margin: 0 20px; /* Space between the buttons and the image */
        -khtml-user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        
}
.fixed-size-image {
        width: 80vw; /* Adjust the width as needed */
        height: auto;
}

.nukeEffect {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@media (max-width: 600px) {
        .fixed-size-image {
        box-shadow: 0 1px 40px -10px #000000; /* Updated box-shadow color */
        width: 100vw;
        }
}

.gif-overlay {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none; /* Initially hidden */
        justify-content: center;
        align-items: center;
        z-index: -9999; /* Higher z-index to appear on top */
}

@media (max-width: 600px) {
    .gif-overlay {
        margin-top: 0vh;
        display: flex;
        justify-content: center;
        max-height: 60vh

    }
}

@media (max-width: 600px) {
    #overlayImage {
        max-height: 60vh;
        margin-top: 10vh;
        display: flex;
        justify-content: center;
        border-radius: 20px;
    
    }
}

@media (max-width: 600px) {
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40vw 3.5vw;
        margin-top: 10vh;
        background-color: #ffffffc7;
        box-shadow: 0 1px 40px -10px #000000;
        color: rgb(0, 0, 0);
        opacity: 100%;
        border-radius: 20px;
        
    }
}


#centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    #centerContent {
        flex-direction: column;
        margin-top: -10vh;
        margin-bottom: -10vh;
    }
}

@media (max-width: 600px) {
    #headerBar {
        display: flex;
        height: 5vh;
        justify-content: center;
        align-items: center;
        margin: 3.5vw 3.5vw;
        background-color: #ffffffc7;
        box-shadow: 0 1px 40px -10px #000000;
        color: rgb(0, 0, 0);
        opacity: 100%;
        border-radius: 20px;
    }
}

@media (max-width: 600px) {
    h2 {
        container-type: flex;
        font-size: 2.5vh;
        margin: 5vw 5vw;
    }
}
@media (max-width: 600px) {
    .choiceButton {
        box-shadow: 0 1px 40px -10px #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 5vh; */
        margin: 7vw 5vw;
        size: 30vw 10vh;
    }

@media screen and (max-width: 600px) {
    a {
        color: black;
        background-color: #ffffff;
        background-size: auto;
    }
    
}

@media (prefers-color-scheme: dark) {
    #headerBar {
        display: flex;
        height: 5vh;
        justify-content: center;
        align-items: center;
        margin: 3.5vw 3.5vw;
        background-color: #ffffffbb;
        box-shadow: 0 1px 40px -10px #ffffff;
        color: rgb(255, 255, 255);
        opacity: 100%;
        border-radius: 20px;
        filter: invert(180deg) hue-rotate(180deg);
    }
}
@media (prefers-color-scheme: dark) {
    .choiceButton {
        box-shadow: 0 1px 40px -10px #ffffff;
        filter: saturate(160%);
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 5vh; */
        margin: 7vw 5vw;
        size: 30vw 10vh;
    }
}
@media (prefers-color-scheme: dark) {
    .fixed-size-image {
    box-shadow: 0 1px 40px -10px #000000; /* Updated box-shadow color */
    width: 100vw;
    }
}